.newsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .newsItem {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
  }
  
  #newsList {
    width: 30%;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #newsList h2 {
    margin-bottom: 10px;
  }
  
  #newsList div {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  #newsList div:hover {
    background-color: #f0f0f0;
  }